@use '../../assets/styles/mixins.scss' as *;
@import '../../assets/styles/variables';

.result {
   padding-block: 4rem 1.38rem;
}

.result-wide {
   max-width: 42rem;
   margin: 0 auto;
   padding-block: 4rem 1.38rem;

   @include mq (small) {
      padding-block: 3.625rem 1.38rem;
   }
}

.primary-padding {
   padding-inline: 1rem;
}

.unordered-list {
   li {
      position: relative;
      margin: 0; 
      padding-left: 2.69rem;
   
      &::before {
         content: '';
         position: absolute;
         width: 0.1875rem;
         height: 0.1875rem;
         border-radius: 50%;
         left: 1.5rem; 
         top: 50%;
         transform: translateY(-50%);
         background-color: var(--clr-primary-1);
      }
   }
}

.ordered-list {
   list-style: none; 
   counter-reset: list-counter; 
 }
 
 .ordered-list li {
   counter-increment: list-counter; 
   position: relative;
   padding-left: 2.69rem;
 }
 
 .ordered-list li::before {
   content: counter(list-counter) ". "; 
   position: absolute;
   left: 1.5rem; 
   color: var(--clr-neutral-6)
 }
 
.blockquote {
   border-radius: 0.25rem;
   background: var(--clr-background-4);
   padding: 1.5rem;
   border-left: 4px solid var(--clr-primary-1);
}

.snippet-wrapper {
   background: var(--clr-background-4);
   padding: 1.5rem;
   white-space: pre-wrap;
}