@use '../../assets/styles/mixins.scss' as *;
@import '../../assets/styles/variables';

.header-wrapper {
   @include width-height(100%, 4.5rem);
   @include flexbox(row, space-between, center, 0);
   background: var(--clr-neutral-3);
   position: fixed;
   margin-top: 0;
   z-index: 5;

   @include mq (small) {
      @include width-height(100%, 3.5rem);
   }
}

.header-main-group {
   @include flexbox(row, start, center, 0);
}

.logo-doc-wrapper {
   @include flexbox(row, start, center, 0);
   margin-left: 1.55rem;

   @include mq (small) {
      margin-right: 1rem;
   }
}

.logo-wrapper-header {
   display: block;
   margin-right: 1.88rem;

   @include mq (medium) {
      display: none;   
   }
}

.header-btn-wrapper {
   margin-right: 1rem;
   @include flexbox(row, start, center, 1.5rem);
}








