@use '../../assets/styles/mixins.scss' as *;
@import '../../assets/styles/variables';

.header-wrapper {
   @include width-height(100%, 4.5rem);
   @include flexbox(row, space-between, center, 0);
   background: var(--clr-neutral-3);
   position: fixed;
   margin-top: 0;
   z-index: 5;

   @include mq (small) {
      @include width-height(100%, 3.5rem);
   }
}

.header-main-group {
   @include flexbox(row, start, center, 0);
}

.logo-doc-wrapper {
   @include flexbox(row, start, center, 0);
   margin-left: 1.55rem;
}

.header-doc-info p {
   display: block;

   @include mq (small) {
      display: none;
   }
}

.logo-wrapper-header {
   display: block;
   margin-right: 1.88rem;

   @include mq (medium) {
      display: none;
   } 
}

.logo-wrapper-nav {
   display: none;

   @include mq (medium) {
      display: block;
      margin-bottom: 1.69rem;
   } 
}

.documents-wrapper {
   @include flexbox(column, start, start, 1.63rem);
}

.doc-info-wrapper {
   @include flexbox(row, start, center, 1rem);
}

.header-doc-wrapper {
   border-left: 1px solid var(--clr-neutral-5);
   padding-left: 1.5rem;

   @include mq (medium) {
      border-left: none;
      padding-left: 0;
   } 
}

.header-btn-wrapper {
   margin-right: 1rem;
   @include flexbox(row, start, center, 1.5rem);
}

.nav-wrapper {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   position: fixed;
   left: 0;
   top: 0;
   @include width-height(15.625rem, 100vh);
   background: var(--clr-neutral-2);
   padding: 1.69rem 1.5rem 1.5rem;
}

.nav-wrapper-hidden {
   display: none;
}

.nav-wrapper {
   .section-header {
      color: var(--clr-neutral-6);
   }
}


// Condirm delete wrapper

.confirm-delete-wrapper {
   @include width-height(21.4375rem, 13.625rem);
   @include flexbox(column, start, start, 1rem);
   @include position(absolute, 50%, 50%, 50%, 50%);
   padding: 1.5rem;
   border-radius: 0.25rem;
   background: var(--clr-background-2);
   transform: translate(-50%, -50%);
   z-index: 100;
}

.confirm-delete-wrapper p {
   color: var(--clr-text-1);
}

.confirm-delete-wrapper {
   .primary-btn {
      @include width-height(100%, 2.5rem);
      @include flexbox(column, center, center, 0);
      border: none;
   }
}

.overlay {
   display: block;
   position: fixed;
   @include width-height(100%, 100vh);
   background: var(--clr-neutral-6);
   opacity: 0.5;
   z-index: 70;
}