:root {

   --clr-primary-1: hsla(13, 75%, 58%, 1); 
   --clr-primary-2: hsla(21, 86%, 68%, 1); 

   --clr-neutral-1: hsla(225, 9%, 9%, 1); 
   --clr-neutral-2: hsla(216, 8%, 12%, 1); 
   --clr-neutral-3: hsla(220, 7%, 18%, 1); 
   --clr-neutral-4: hsla(216, 9%, 23%, 1); 
   --clr-neutral-5: hsla(216, 8%, 38%, 1); 
   --clr-neutral-6: hsla(216, 4%, 51%, 1); 
   --clr-neutral-7: hsla(222, 9%, 78%, 1); 
   --clr-neutral-8: hsla(0, 0%, 90%, 1); 
   --clr-neutral-9: hsla(0, 0%, 96%, 1); 
   --clr-neutral-10: hsla(0, 0%, 100%, 1); 
}





